.app-margimBotomCamposFomr{
	margin-bottom: 15px;
}
.zerarMargimH{
	margin-top: 0px;
	margin-bottom: 0px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
	vertical-align: middle;
    
}
@media screen and (max-width: 992px){
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid rgba(0,0,0,.0001);
}
}
.app-buscarProduto{
	margin-bottom: 20px;
}

thead {
    background-color: rgb(215, 226, 236) !important;
}
th.app-btn-acoes {
    width: 242px;
}


spam.app-astericoRed {
    color: #a94442;
}
th.app-btn-acoes {
    width: 258px;
}
/*td.app-btn-acoes {
   background-color: rgba(158, 158, 158, 0.36) !important;
}*/

label.red {
    color: #a94442;
}

.custom.modal-header {
    background: #5bc0de;
    color: #fff;
}

strong.nome.nomeRed {
    color: #da423d;
    font-size: 19px;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.margim-botton.center {
    text-align: center;
	margin-bottom: 16px;
}

span.nome.app-span {
    font-size: 20px;
    color: #da423d;
}

label.laber-txt {
    font-size: 16px;
}

a.btn.btn-primary.delete-yes.btinfo {
    
    background: #5bc0de;
    border-color: #46b8da;
}

.margim-botton {
    margin-bottom: 6px;
    font-size: 15px;
    color: #5C2C8B;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.app-margimBotomCamposFomr.font17 {
    font-size: 17px;
}

td.app-btn-acoes {
    width: 336px;
}

