.app-margimBotomCamposFomr{
	margin-bottom: 15px;
}
.zerarMargimH{
	margin-top: 0px;

	margin-bottom: 0px;
}
th.app-center-th {
    text-align: center;
}

td.app-center-th {
    text-align: center;
}

spam.app-astericoRed {
    color: #a94442;
}