.app-margimBotomCamposFomr{
	margin-bottom: 8px;
}

.app-margimBotom{
	margin-bottom: 14px;
}

.zerarMargimH{
	margin-top: 0px;
	margin-bottom: 0px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
	vertical-align: middle;
    
}
@media screen and (max-width: 992px){
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid rgba(0,0,0,.0001);
}
}
.app-buscarProduto{
	margin-bottom: 20px;
}


th.app-center-th {
    text-align: center;
}

td.app-center-th {
    text-align: center;
}

spam.app-astericoRed {
    color: #a94442;
}
.form-group.camposTabelas {
    margin-bottom: 0px;
	min-width: 80px;
}

th.app-btn-excluir {
   
    width: 20px;
}
.invisivel { display: none; }
.visivel { visibility: visible; 
}

.quant {
    width: 95px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}

.esp {
    margin-top: 25px;
}

[uib-typeahead-popup].dropdown-menu {
    
    border-radius: 6px;

	
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    
    background-color: #0081c2;
    
}

hr.corHr {
    border-top: 1px solid #ccc;
}

input.form-control.altCor.ng-pristine.ng-valid.ng-not-empty {
    background-color: #eee;
    border: 0px;
	color: #333;
}



.pMod {
    font-size: 15px;
    margin-top: 6px;
    margin-bottom: -12px;
	font-weight: 200;

}

.esp {
    margin-top: 14px;
}

.topMod {
    margin-top: -9px;
}

.modHr {
    margin-top: -18px;
    margin-bottom: 10px;
}

.fontMod {
    font-size: 16px;
}

select[readonly] {
  background: #eee; /*Simular campo inativo*/
  pointer-events: none;
  touch-action: none;
}

  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }

.custom.modal-header {
    background: #5bc0de;
    color: #fff;
}

.mP {
    margin-bottom: 4px;
    margin-top: 4px;
}






