.app-margimBotomCamposFomr{
	margin-bottom: 15px;
}
.zerarMargimH{
	margin-top: 0px;

	margin-bottom: 0px;
}
spam.app-astericoRede {
    color: #a94442;
}

.app-centralizaDireita {
    text-align: right;
}
